@charset "UTF-8";
*{
font-family: Arial, Helvetica, sans-serif;
*height: 100%;
}
body {
    background-image: linear-gradient(to right,#f2cb05a6,#5b19099c);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5B1909;
    width:600px;
    padding: 10px; 
    margin: auto;
}
h1 {
    color:#B84322 ;
    text-align: center;
    text-shadow: 1px 2px 2px #b62804be;
}
h2 {
    color:#F2CB05;
}

p{
    text-align: justify;
}